<html>
<head><link rel=stylesheet type=text/css href="{{ url_for('static', filename='styles.css') }}"></head>
    <body>

        <h1>{{ restaurant.name }}</h1>
        <a href="new">Create a new menu item</a>
        <br>
        <br>
        {% with ms = get_flashed_messages() %}
        <ul>
            {% for m in ms %}
            <li><bold>{{ m }}</bold></b></li>
            {% endfor %}
        </ul>
        {% endwith %}
        {% for menuItem in menuItems %}
            {{menuItem.item_name}} {{ menuItem.price }}
            <br>
            {{menuItem.description}}
            <br>
            <a href="{{ url_for('editMenuItem', restaurant_id = restaurant.id, menu_id = menuItem.id)}}">edit</a>
            <br>
            <a href="{{ url_for('deleteMenuItem', restaurant_id = restaurant.id, menu_id = menuItem.id)}}">delete</a>
            <br>
            <br>
        {% endfor %}
    </body>
</html>